<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Hong Category"
            id="rocklike.plugin.commands.category">
      </category>
      <command
            name="Hong Command"
            categoryId="rocklike.plugin.commands.category"
            id="rocklike.plugin.commands.sampleCommand">
      </command>
      <command
            id="rocklike.plugin.bookmark.createBookmarkCommand"
            name="bookmark 생성">
         <commandParameter
               id="rocklike.plugin.bookmark.commandParameter_number"
               name="key value"
               optional="true">
         </commandParameter>
      </command>
      <command
            id="rocklike.plugin.bookmark.gotoBookmarkCommand"
            name="bookmark 가기">
         <commandParameter
               id="rocklike.plugin.bookmark.commandParameter_number"
               name="key value"
               optional="true">
         </commandParameter>
      </command>
      <command
            defaultHandler="rocklike.plugin.explorer.OpenExplorer"
            id="rocklike.plugin.explorer.OpenExplorer"
            name="탐색기 열기">
      </command>
      <command
            defaultHandler="rocklike.plugin.explorer.CopyFilePath"
            id="rocklike.plugin.explorer.CopyFilePath"
            name="파일경로 복사">
      </command>
      <command
            id="mybatisXmlGotoCommand"
            name="Mybatis Xml 열기">
      </command>
      <command
            id="rocklike.plugin.methodCall.viewer.show"
            name="메소드 호출관계 보기">
      </command>
      <command
            defaultHandler="rocklike.plugin.handlers.ResourceRefreshHandler"
            id="rocklike.plugin.refresh_resource.command"
            name="폴더 refresh하기">
      </command>
      <command
            defaultHandler="rocklike.plugin.handlers.RefreshFolderAssignHandler"
            id="rocklike.plugin.refresh.setRefreshFolder"
            name="refresh할 폴더 지정하기">
      </command>
      <command
            defaultHandler="rocklike.plugin.handlers.ShowRefreshFolderList"
            id="rocklike.plugin.refresh.showRefreshFolderList"
            name="refresh할 폴더 목록 보여주기">
      </command>
      <command
            defaultHandler="rocklike.plugin.handlers.ReadColumnDescriptionHandler"
            id="rocklike.plugin.command.ReadColumnDescriptionHandler"
            name="Column의 description 정보를 읽어오기">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="rocklike.plugin.commands.sampleCommand"
            class="rocklike.plugin.handlers.SampleHandler">
      </handler>
      <handler
            class="rocklike.plugin.bookmark.HongCreateBookmarkHandler"
            commandId="rocklike.plugin.bookmark.createBookmarkCommand">
      </handler>
      <handler
            class="rocklike.plugin.bookmark.HongGotoBookmark"
            commandId="rocklike.plugin.bookmark.gotoBookmarkCommand">
      </handler>
      <handler
            class="rocklike.plugin.mybatis.MybatisXmlGotoHandler"
            commandId="mybatisXmlGotoCommand">
      </handler>
      <handler
            class="rocklike.plugin.jdt.MethodCallShowHandler"
            commandId="rocklike.plugin.methodCall.viewer.show">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="rocklike.plugin.bookmark.createBookmarkCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+0">
         <parameter
               id="rocklike.plugin.bookmark.commandParameter_number"
               value="0">
         </parameter>
      </key>
      <key
            commandId="rocklike.plugin.bookmark.createBookmarkCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+1">
         <parameter
               id="rocklike.plugin.bookmark.commandParameter_number"
               value="1">
         </parameter>
      </key>
      <key
            commandId="rocklike.plugin.bookmark.createBookmarkCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+2">
         <parameter
               id="rocklike.plugin.bookmark.commandParameter_number"
               value="2">
         </parameter>
      </key>
      <key
            commandId="rocklike.plugin.bookmark.createBookmarkCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+3">
         <parameter
               id="rocklike.plugin.bookmark.commandParameter_number"
               value="3">
         </parameter>
      </key>
      <key
            commandId="rocklike.plugin.bookmark.createBookmarkCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+4">
         <parameter
               id="rocklike.plugin.bookmark.commandParameter_number"
               value="4">
         </parameter>
      </key>
      <key
            commandId="rocklike.plugin.bookmark.createBookmarkCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+5">
         <parameter
               id="rocklike.plugin.bookmark.commandParameter_number"
               value="5">
         </parameter>
      </key>
      <key
            commandId="rocklike.plugin.bookmark.createBookmarkCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+6">
         <parameter
               id="rocklike.plugin.bookmark.commandParameter_number"
               value="6">
         </parameter>
      </key>
      <key
            commandId="rocklike.plugin.bookmark.createBookmarkCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+7">
         <parameter
               id="rocklike.plugin.bookmark.commandParameter_number"
               value="7">
         </parameter>
      </key>
      <key
            commandId="rocklike.plugin.bookmark.createBookmarkCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+8">
         <parameter
               id="rocklike.plugin.bookmark.commandParameter_number"
               value="8">
         </parameter>
      </key>
      <key
            commandId="rocklike.plugin.bookmark.createBookmarkCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+9">
         <parameter
               id="rocklike.plugin.bookmark.commandParameter_number"
               value="9">
         </parameter>
      </key>



      <key
            commandId="rocklike.plugin.bookmark.gotoBookmarkCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+0">
         <parameter
               id="rocklike.plugin.bookmark.commandParameter_number"
               value="0">
         </parameter>
      </key>
      <key
            commandId="rocklike.plugin.bookmark.gotoBookmarkCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+1">
         <parameter
               id="rocklike.plugin.bookmark.commandParameter_number"
               value="1">
         </parameter>
      </key>

      <key
            commandId="rocklike.plugin.bookmark.gotoBookmarkCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+2">
         <parameter
               id="rocklike.plugin.bookmark.commandParameter_number"
               value="2">
         </parameter>
      </key>

      <key
            commandId="rocklike.plugin.bookmark.gotoBookmarkCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+3">
         <parameter
               id="rocklike.plugin.bookmark.commandParameter_number"
               value="3">
         </parameter>
      </key>

      <key
            commandId="rocklike.plugin.bookmark.gotoBookmarkCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+4">
         <parameter
               id="rocklike.plugin.bookmark.commandParameter_number"
               value="4">
         </parameter>
      </key>

      <key
            commandId="rocklike.plugin.bookmark.gotoBookmarkCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+5">
         <parameter
               id="rocklike.plugin.bookmark.commandParameter_number"
               value="5">
         </parameter>
      </key>

      <key
            commandId="rocklike.plugin.bookmark.gotoBookmarkCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+6">
         <parameter
               id="rocklike.plugin.bookmark.commandParameter_number"
               value="6">
         </parameter>
      </key>

      <key
            commandId="rocklike.plugin.bookmark.gotoBookmarkCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+7">
         <parameter
               id="rocklike.plugin.bookmark.commandParameter_number"
               value="7">
         </parameter>
      </key>

      <key
            commandId="rocklike.plugin.bookmark.gotoBookmarkCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+8">
         <parameter
               id="rocklike.plugin.bookmark.commandParameter_number"
               value="8">
         </parameter>
      </key>

      <key
            commandId="rocklike.plugin.bookmark.gotoBookmarkCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+9">
         <parameter
               id="rocklike.plugin.bookmark.commandParameter_number"
               value="9">
         </parameter>
      </key>
      <key
            commandId="rocklike.plugin.methodCall.viewer.show"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+M3+H">
      </key>
      <!--
      <key
            commandId="rocklike.plugin.commands.sampleCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+6">
      </key>
      -->

   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="H"
               mnemonic="M"
               id="rocklike.plugin.menus.sampleMenu">
            <command
                  commandId="mybatisXmlGotoCommand"
                  label="테스트"
                  mnemonic="S">
            </command>
            <command
                  commandId="rocklike.plugin.refresh.showRefreshFolderList"
                  label="refresh할 폴더 목록 보여주기"
                  style="push">
            </command>
            <command
                  commandId="rocklike.plugin.command.ReadColumnDescriptionHandler"
                  label="Column의 description 정보를 읽어오기"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
         <menu
               label="홍">
            <command
                  commandId="rocklike.plugin.explorer.OpenExplorer"
                  label="탐색기 열기"
                  style="push">
            </command>
            <command
                  commandId="rocklike.plugin.explorer.CopyFilePath"
                  label="파일경로 복사"
                  style="push">
            </command>
            <command
                  commandId="rocklike.plugin.refresh.setRefreshFolder"
                  label="refresh할 경로 지정"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu">
         <menu
               label="홍">
            <command
                  commandId="rocklike.plugin.explorer.OpenExplorer"
                  label="탐색기 열기"
                  style="push">
            </command>
            <command
                  commandId="rocklike.plugin.explorer.CopyFilePath"
                  label="파일경로 복사"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.views.ResourceNavigator">
         <menu
               label="홍">
            <command
                  commandId="rocklike.plugin.explorer.OpenExplorer"
                  label="탐색기 열기"
                  style="push">
            </command>
            <command
                  commandId="rocklike.plugin.explorer.CopyFilePath"
                  label="파일경로 복사"
                  style="push">
            </command>
            <command
                  commandId="rocklike.plugin.refresh.setRefreshFolder"
                  label="refresh할 경로 지정"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="rocklike.plugin.mainmenu.toolbar">
            <command
                  commandId="rocklike.plugin.refresh_resource.command"
                  icon="icons/refresh.gif"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
      <!--
      <menuContribution

            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="rocklike.plugin.toolbars.sampleToolbar">
            <command
                  commandId="rocklike.plugin.commands.sampleCommand"
                  icon="icons/sample.gif"
                  tooltip="Say hello world"
                  id="rocklike.plugin.toolbars.sampleCommand">
            </command>
         </toolbar>
      </menuContribution>
      -->
   </extension>
   <extension
         id="rocklike.plugin.bookmark"
         name="Hong Bookmark"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="true">
      </persistent>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <super
            type="org.eclipse.core.resources.bookmark">
      </super>
      <super
            type="org.eclipse.core.resources.marker">
      </super>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="rocklike.plugin.mybatis.JavaEditorListeningView"
            id="hong.pluginTest.jdt.SelectionView"
            name="mybatis xml viewer"
            restorable="true">
      </view>
      <view
            class="rocklike.plugin.jdt.viewer.MethodCallTreeViewer"
            id="rocklike.jdt.methodCall.viewer"
            name="메소드 호출 보기"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="rocklike.plugin.wizards.category"
            class="rocklike.plugin.srcgen.wizards.HongNewFileCreateWizard"
            icon="icons/sample.gif"
            id="rocklike.plugin.srgen.newFileCreateWizard"
            name="파일 생성(controller,service,Dao등)">
      </wizard>
      <category
            id="rocklike.plugin.wizards.category"
            name="홍">
      </category>
   </extension>
   <extension
         point="org.eclipse.jdt.ui.quickAssistProcessors">
      <quickAssistProcessor
            class="rocklike.plugin.jdt.quickassist.HongQuickAssistProcessor"
            id="rocklike.plugin.HongQuickAssistProcessor">
      </quickAssistProcessor>
   </extension>
   <!--
   <extension
         point="org.eclipse.ui.editors.markerUpdaters">
      <updater
            class="rocklike.plugin.bookmark.HongMarkerUpdater"
            id="rocklike.plugin.bookmark.markerUpdater"
            markerType="rocklike.plugin.bookmark">
      </updater>
   </extension>
   -->

</plugin>
